/* AUFGABE 1: 1>Paragraph 1 in der ersten Section */
#sec1 .class-1 {
    color: gold;
}

/* AUFGABE 2: selektiere 3>Paragraph Z   */
#sec2 #id3 p.class-2 {
    color: orange;
}

/* AUFGABE 3: 2>Paragraph in erster und zweiter Section */
#sec1 .class-2,
#sec2 #id2 {
    color: purple;
}

/* AUFGABE 4: 3>Paragraph Z in der zweiten section */
#sec2 p.class-2:last-of-type {
    text-decoration: underline;
}

/* AUFGABE 5: alle gruenen list items */
section.green li {
    color: green;
}

/* AUFGABE 6: jeweils die ersten beiden list items */
ul li:nth-child(-n + 2) {
    font-weight: bold;
}

/* AUFGABE 7: jeweils die ersten beiden list items der blauen und gruenen section */
section.blue li:nth-child(-n + 2),
section.green li:nth-child(-n + 2) {
    background-color: lightgray;
}

/* AUFGABE 8: Paragraphs in den ersten beiden sections */
#sec1 p,
#sec2 p {
    border: 1px solid black;
}
